In [91]:
import pandas as pd
import numpy as np
import datetime

In [3]:
df = pd.read_csv('tg_news.csv', index_col=0, header=0)

In [9]:
df.describe()

,channel,text,date
count,258745,218962,258745
unique,25,213479,223664
top,"Channel(id=1049795479, title='E1.RU | Новости ...",None,2020-09-07 13:56:22+00:00
freq,50188,280,11

In [17]:
df.head()

,channel,text,date
0,"Channel(id=1287283795, title='Челябинск Сегодн...",NaN,2021-11-11 06:49:14+00:00
1,"Channel(id=1287283795, title='Челябинск Сегодн...",Срочно окажите этому человеку помощь с пониман...,2021-11-11 06:27:05+00:00
2,"Channel(id=1287283795, title='Челябинск Сегодн...",Мы сравнили количество подписчиков уральских г...,2021-11-11 05:56:31+00:00
3,"Channel(id=1287283795, title='Челябинск Сегодн...",Челябинск признан самым снежным городом в Росс...,2021-11-11 04:51:31+00:00
4,"Channel(id=1287283795, title='Челябинск Сегодн...",Российские провайдеры могут на 10% увеличить с...,2021-11-11 04:43:22+00:00

In [69]:
df1 = df[(df['text'].notna()) & (df['text'] != 'None')]

In [71]:
df1.reset_index(drop=True)

,channel,text,date
0,"Channel(id=1287283795, title='Челябинск Сегодн...",Срочно окажите этому человеку помощь с пониман...,2021-11-11 06:27:05+00:00
1,"Channel(id=1287283795, title='Челябинск Сегодн...",Мы сравнили количество подписчиков уральских г...,2021-11-11 05:56:31+00:00
2,"Channel(id=1287283795, title='Челябинск Сегодн...",Челябинск признан самым снежным городом в Росс...,2021-11-11 04:51:31+00:00
3,"Channel(id=1287283795, title='Челябинск Сегодн...",Российские провайдеры могут на 10% увеличить с...,2021-11-11 04:43:22+00:00
4,"Channel(id=1287283795, title='Челябинск Сегодн...",Мэрия Челябинска сообщает про аварию на теплос...,2021-11-11 04:26:29+00:00
...,...,...,...
218677,"Channel(id=1047260531, title=""It's My City"", p...","Пишут, что после длительного (и, судя по всему...",2016-04-16 17:08:52+00:00
218678,"Channel(id=1047260531, title=""It's My City"", p...",Какое-то совсем заброшенное и малохуоженное ме...,2016-04-16 12:00:29+00:00
218679,"Channel(id=1047260531, title=""It's My City"", p...","В Дендропарке, кстати, почти идеальная чистота...",2016-04-16 11:05:32+00:00
218680,"Channel(id=1047260531, title=""It's My City"", p...",Пока самая эффективная коммунальная служба в г...,2016-04-16 11:03:48+00:00
218681,"Channel(id=1047260531, title=""It's My City"", p...",Добрый вечер! Это полуофициальный канал ItsMyC...,2016-04-15 15:43:47+00:00

In [72]:
df1.to_csv('news.csv')

In [93]:
df1['date'][1]

'2021-11-11 06:27:05+00:00'

In [94]:
df1['date'] = pd.to_datetime(df1['date'])

/tmp/ipykernel_1957/2129961175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['date'] = pd.to_datetime(df1['date'])

In [104]:
df1['date'][1].date()

datetime.date(2021, 11, 11)

In [105]:
df1['date'] = [x.date() for x in df1['date']]

/tmp/ipykernel_1957/1481990036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['date'] = [x.date() for x in df1['date']]

In [106]:
df1['date']

1         2021-11-11
2         2021-11-11
3         2021-11-11
4         2021-11-11
5         2021-11-11
             ...
258738    2016-04-16
258739    2016-04-16
258740    2016-04-16
258741    2016-04-16
258742    2016-04-15
Name: date, Length: 218682, dtype: object